.Home-main {
  width: 100%;
  height: 100%;
  background: #000000;
  background-position: calc(100% 100%) center;
  background-size: cover;
  padding: 4px;
}
.word h2 {
  width: 300px;
  height: 100%;
  font-size: 40px;
  color: #ffff;
  text-transform: capitalize;
}
.Home-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
}
.Home-title p {
  width: 400px;
  text-align: justify;
  font-size: 15px;
  color: #ffff;
}
video {
  width: 400px;
  height: 100%;
  border-radius: 20px;
  margin: 30px;
}

@media screen and (max-width: 1150px) {
  .Home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../../assets/photo25.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1020px) {
  .Home-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../../assets/photo25.jpeg);
    background-position: center;
    background-size: cover;
  }
  video {
    width: 80%;
    height: 100%;
    position: relative;
    top: 15px;
    left: 0;
  }
}

@media screen and (max-width: 960px) {
  .Home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/photo25.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  video {
    width: 100%;
    height: 100%;
    position: relative;
    top: 15px;
    left: 0;
  }
}

@media screen and (max-width: 750px) {
  .Home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/photo25.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  video {
    width: 100%;
    height: 100%;
    position: relative;
    top: 15px;
    left: 0;
  }
}

@media screen and (max-width: 650px) {
  .Home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/photo25.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  video {
    width: 100%;
    height: 100%;
    position: relative;
    top: 10px;
    left: 0;
  }
}

@media screen and (max-width: 550px) {
  .Home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../../assets/photo25.jpeg);
    background-position: calc(100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  video {
    width: 100%;
    height: 100%;
    position: relative;
    top: 10px;
    left: 0;
  }
}
