@font-face {
  font-family: poppins;
  src: url("/src/assets/fonts/poppins/Poppins-Regular.ttf");
}

//font-family styling
$ff-primary: poppins;
$ff-header: poppins;

$ff-body: $ff-primary;
$ff-head: $ff-header;

// font-sizes
$fs-100: 1rem;
$fs-200: 1.2rem;
$fs-300: 1.5rem;
$fs-400: 1.8rem;
$fs-500: 2rem;
$fs-600: 2.5rem;
$fs-700: 3rem;
$fs-800: 3.5rem;
$fs-900: 4rem;

// font-weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
