.TestimonialMain{
  color: #ffff;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.TestimonalBody{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TestimonialContainer{
  width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  gap: 2rem;
  text-align: start;
}
.Text{
  width: 100%;
  height: 100%;
}
.Title{
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  padding: 20px 0;
  line-height: 2px;
}
.TestName{
  font-size: 20px;
  font-weight:normal;
  padding: 10px 0;
}
.StarTag{
  width: 100px;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
@media screen and (max-width: 750px){
  .TestimonialMain{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .TestimonalBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .TestimonialContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}

@media screen and (max-width: 670px){
  .TestimonialMain{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .TestimonalBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .TestimonialContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  }
  @media screen and (max-width: 550px){
    .TestimonialMain{
      width: inherit;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .TestimonalBody{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .TestimonialContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 100%;
    }
    .Text{
      width: 100%;
      height: 100%;
    }
    .Title{
      font-size: 10px;
      font-weight: 400;
      font-style: normal;
      padding: 10px 0;
    }
    .TestName{
      font-size: 20px;
      font-weight:normal;
      padding: 10px 0;
    }
  }