@use "../utils" as u;

.Home-main {
  padding: 3em 1em;
  width: 100%;
  background: #000000;
  background-position: calc(100%) center;
  background-size: cover;

  .Home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 4em;

    .Home-title {
      max-width: 400px;
      padding-inline: 1em;

      h2 {
        font-size: 2.5rem;
        line-height: 1.2;
        color: #ffff;
        text-transform: capitalize;
        margin-bottom: 1em;
      }

      p {
        text-align: justify;
        font-size: 1rem;
        color: #ffff;
        letter-spacing: 1px;
      }
    }

    video {
      width: 400px;
      height: 100%;
      border-radius: 20px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .Home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(
        rgba(46, 44, 44, 0.9),
        rgba(247, 239, 239, 0.1)
      ),
      url(../../assets/images/photo25.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
  }
}
